<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Welcome to the UMD Bike Survey</title>

	<!-- HTML5 Shiv -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
	
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'bikesurvey/css/reset.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'bikesurvey/css/forms.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'bikesurvey/css/style.css' %}" />

	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.formalize/1.2/jquery.formalize.min.js"></script>
</head>

<body>
<h1>Heading</h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus purus eget bibendum egestas. Nullam id fringilla eros. Ut diam risus, molestie non arcu et, dictum rhoncus urna. Nulla ultrices auctor faucibus. Cras eleifend rhoncus ipsum ac feugiat. Maecenas semper non eros quis sodales. Nam dictum ex eu mauris cursus sollicitudin ac sit amet justo.
</p>

</body>
</html>