<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block title %}{% endblock %} - UMD Bike Survey</title>

	<!-- HTML5 Shiv -->
	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'bikesurvey/style.css' %}" />

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
</head>

<body>
{% block content %}{% endblock %}
	<div id="">
		<form id="createSurveyInstanceForm" action="#">
			<fieldset>
				<label for="name">Name</label>
				<input type="text" name="name" id="name">
				<label for="location">Location</label>
				<input type="text" name="location" id="location">
				<label for="date">Date</label>
				<input type="text" name="date" id="date">
				
				<input type="submit" value="Submit" name="Start survey">
			</fieldset>
		</form>
	</div>
	
	<div class="ui-grid-a">
		<div class="ui-block-a">
			<strong>You are counting bikes as: </strong>Name<br>
			<strong>In this location: </strong>Location<br>
			<strong>At this date: </strong>Date<br>
			
		</div>
		<div class="ui-block-b">
			<button>Exit</button>
		</div>
	</div>

	<div id="">
		<form>
			<fieldset>
				<label>Gender</label>
				<input type="radio" name="gender" id="gender_male" value="male" checked="checked">
				<label for="gender_male">Male</label>
				<input type="radio" name="gender" id="gender_female" value="female">
				<label for="gender_female">Female</label><br>
				<label>Helmet</label>
				<input type="radio" name="helmet" id="helmet_yes" value="yes" checked="checked">
				<label for="helmet_yes">Yes</label>
				<input type="radio" name="helmet" id="helmet_no" value="no">
				<label for="helmet_no">No</label><br>
				<label>Location</label>
				<input type="radio" name="location" id="location_sidewalk" value="sidewalk" checked="checked">
				<label for="location_sidewalk">Sidewalk</label>
				<input type="radio" name="location" id="location_street" value="street">
				<label for="location_street">Street</label><br>
				<input type="submit" value="Add this biker">
			</fieldset>
		</form>
	</div>
</body>
</html>