<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block title %}{% endblock %} - UMD Bike Survey</title>

	<!-- HTML5 Shiv -->
	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'bikesurvey/forms.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'bikesurvey/style.css' %}" />

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.formalize/1.2/jquery.formalize.min.js"></script>
</head>

<body>
{% block content %}{% endblock %}

</body>
</html>