{% extends "bikesurvey/base.html" %}

{% block title %}Enter Volunteer Info{% endblock %}

{% block content %}

{% if message %}<p class="message"><strong>{{ message }}</strong></p>{% endif %}

<div id="">
	<form action="" method="post">
		{% csrf_token %}
		<fieldset>
			{{ form.as_p }}
			<input type="submit" value="Start Survey">
		</fieldset>
	</form>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$('input[name="date"]').pickadate({
		format: 'yyyy-mm-dd',
		formatSubmit: 'yyyy-mm-dd',
	});
});
</script>
{% endblock %}
