{% extends "bikesurvey/base.html" %}

{% block title %}Record Biker Info{% endblock %}

{% block content %}
<div>
	<div style="display: block; float: left;">
		<strong>You are counting bikes as: </strong>{{ surveyinstance.name }}<br>
		<strong>In this location: </strong>{{ surveyinstance.location }}<br>
	</div>
	<form style="display: block; float: right;" action="{% url 'bikesurvey:thanks' %}">
		<button>Finished Counting</button>
	</form>
</div>
<br style="clear: both;">

{% if message %}<p class="message"><strong>{{ message }}</strong></p>{% endif %}

<form action="" method="post">

    {% csrf_token %}
    <ul>
{{ form.as_ul }}
    </ul>
    <input type="submit" value="Submit" />
</form>
{% endblock %}
