{% extends "bikesurvey/base.html" %}

{% block title %}List View{% endblock %}

{% block content %}
<h2>All survey results</h2>

{% if list %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Gender</th>
            <th>Helmet</th>
            <th>Location</th>
            <th>Date (YYYY-MM-DD)</th>
            <th>Time (24 hr.)</th>
        </tr>
    </thead>

    <tbody>
    {% for instance in list %}
        <tr>
            <td>{{ instance.name }}</td>
            <td>{{ instance.location }}</td>
            <td>{{ instance.bikerGender }}</td>
            <td>{{ instance.bikerHelmet }}</td>
            <td>{{ instance.bikerLocation }}</td>
            <td>{{ instance.date|date:"Y-m-d" }}</td>
            <td>{{ instance.time|date:"H:i" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No biker information is available.</p>
{% endif %}

<script type="text/javascript">
$(document).ready(function() {
	$("table").tablesorter(); 
});
</script>

{% endblock %}
